html,
body {
  /* margin: 0;
  padding: 0; */

  --primary_color: #55daeb;
  --secondary_color: #ff5757;
  --text_color: #2d2424;
  --hover_color: #000000;
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #76dbd9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #76dbd9;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.button_primary {
  border: none;
  width: 50%;
  background-color: var(--primary_color);
  color: var(--text_color);
  height: 3.5;
  padding: 12px;
  border-radius: 50px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.icon_image {
  width: 40px;
  height: 40px;
  text-align: center;
}

/* COMMON CLASSES */
.cursor_pointer {
  cursor: pointer;
}

/* Main Application Style */
/* NAVBAR STYLE */

.navbar_wrapper {
  background: #fff;
  background: -webkit-linear-gradient(to left, #ffffff, #ffffff, #55daeb);
  background: linear-gradient(to left, #ffffff, #ffffff, #55daeb);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  height: 5rem;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9;
  width: 100%;
  /* position: fixed; */
  top: 0;
  color: black;
}

.navbar_logo > img {
  width: 104px;
  height: 104px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 32px;
}
.navbar_logo > img:hover {
  width: 112px;
  height: 112px;
  transition: 0.5s;
}
.navbar_logo {
  z-index: 9;
  display: flex;
  align-items: center;
}

.navbar_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  align-items: center;
}

.navbar_text {
  margin: 24px;
  text-align: center;
  cursor: pointer;
  color: var(--text_color);
  font-weight: 600;
  line-break: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.navbar_text:hover {
  color: var(--hover_color);
  /* font-size: 18px; */
  font-weight: 600;
  transition: 0.5s;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.whatsapp_logo {
  width: 36px;
  height: 36px;
  margin: 16px;
  cursor: pointer;
}

.home_image {
  z-index: 0;
}
#logo_text {
  font-family: "Cinzel", serif;
  font-weight: 600;
  /* border: 2px solid #8cbec6; */
  margin: 8px;
  color: #892323;
  /* padding: 4px; */
  /* border-image: linear-gradient( 90deg, var(--primary_color), var(--secondary_color) ) 1; */
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-radius: 8px; */
  font-size: 22px;
}

/* HOME STYLE */

.box-1 {
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/parallax-1.jpeg");
  display: table;
  background-attachment: fixed;
}

.box-2 {
  height: 80vh;
  width: 50%;
  background-size: cover;
  background-position: center;
  display: table;
  float: right;
  background-attachment: fixed;
  background-image: url("https://images.pexels.com/photos/7725990/pexels-photo-7725990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.box-3 {
  height: 25vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  vertical-align: middle;
  background-attachment: fixed;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  /* background-image:url("./assets/furry_town_pet_group.jpeg"); */
}
.box-1-content {
  display: flex;
  flex-direction: row;
}
.box-1-content > .box-1-content-right {
  width: 50%;
}
.parallax_text {
  color: #fff;
  margin: 0px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}
.background_image_wave {
  background-image: url("../src/assets/wave_home.svg");
  background-repeat: no-repeat;
  z-index: -2;
}

.text_boxshadow {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,

    #ffffff,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,

    #ffffff,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 8px;
  padding: 3rem;
  color: var(--hover_color);

  opacity: 0.8 ;
  font-size: 24px;
  font-weight: 800;
  width: 50%;
  float: right;
}
.text_boxshadow > .dog {
  opacity: 1;
}

.pet_home {
  display: flex;
  align-items: center;
  align-content: center;
}
.pet_home > img {
  height: 44px;
  padding: 8px;
  border-radius: 50vh;
  border: 2px solid var(--primary_color);
  margin: 8px;
}
.pet_home:hover {
  color: var(--primary_color);
  transition: 0.5s;
}

.primary_header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.02em;
}
